<form method="POST" action="/api/v1/contact">
    <label>Firstname</label><br>
    <input type="text" name="firstname"></input><br>
    <label>Lastname</label><br>
    <input type="text" name="lastname"></input><br>
    <label>Email</label><br>
    <input type="email" name="email"></input><br>
    <label>Phone</label><br>
    <input type="tel" name="phone"></input><br>
    <button type="submit" id="submit">Save contact</button>
</form>